<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218822188400-slp8vtnej8op5dj5b6fu4g1eseg7pm42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218822188400-slp8vtnej8op5dj5b6fu4g1eseg7pm42</string>
	<key>API_KEY</key>
	<string>AIzaSyAOOQXi7n3CQ8pxCDwikpeXzL3A2dVNUFM</string>
	<key>GCM_SENDER_ID</key>
	<string>218822188400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.islamidars</string>
	<key>PROJECT_ID</key>
	<string>islami-dars</string>
	<key>STORAGE_BUCKET</key>
	<string>islami-dars.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218822188400:ios:d06da2bb080629ce3303b5</string>
</dict>
</plist>